<div class="w-screen h-screen bg-yellow-50 flex items-center">


<div class="container max-w-xs m-auto px-10 py-5 m-auto flex flex-col rounded-lg bg-white shadow-md">

  <h1 class="text-center text-4xl mb-10">Identifiez-vous</h1>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs text-center">
      <%= f.input :email,
                  required: false,
                  label: "Email",
                  placeholder: 'nom@gmail.com',
                  input_html: { autocomplete: "email" } %>


      <%= f.input :password,
                  required: false,
                  placeholder: '•••••••',
                  label: "Mot de passe",
                  input_html: { autocomplete: "current-password" } %>
      <i class="fas fa-eye eye-sign-in cursor-pointer" id="eye"></i>


      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions text-center">
      <%= f.button :submit, "Me connecter", class: "btn py-2.5 px-5 mb-10 shadow-md rounded-md hover:shadow-xl bg-green-200 text-pink-900 cursor-pointer" %>
    </div>
  <% end %>
  <div class="redirect-to-signup flex justify-center text-sm">
    <p>Première visite ?&nbsp;&nbsp;</p>
    <%= render "devise/shared/links" %>
  </div>
  

</div>
</div>
